@model DevFolio.Models.TblTestimonial

@{
    ViewBag.Title = "UpdateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Referans Güncelleme Sayfası</h2>

<form method="post">
    @Html.HiddenFor(x => x.TestimonialId, new { @class = "form-control" })
    <label>Referans Adı Soyadı</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
    <br />
    <label>Yorumu</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    <label>Fotoğraf</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    <label>Mevcut Görsel</label>
    <br />
    <img style="width: 30%; height: 30%;" src="@Model.ImageUrl" alt="@Model.ImageUrl" class="img-thumbnail">
    <br />

    <label for="formFileMultiple" class="form-label">Fotoğraf</label>
    <input class="form-control mb-3" type="file" name="file" id="formFileMultiple">
    <br />
    <button class="btn btn-info"> Referans Güncelle</button>
</form>
