@model DevFolio.Models.TblProject
@{
    ViewBag.Title = "UpdateProject";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Proje Güncelle</h2>

<form method="post">
    <input hidden type="text" class="form-control" name="ProjectId" value="@Model.ProjectId" />
    <br />
    <label>Proje Başlığı</label>
    <input type="text" class="form-control" name="Title" value="@Model.Title" />
    <br />
    <label>Proje Tarihi</label>
    <input type="text" class="form-control" name="CreatedDate" value="@(((DateTime)Model.CreatedDate).ToString("dd.MM.yyyy"))" />
    <br />
    <label>Proje Kategorisi</label>
    <br />
    <select name="plan" id="plan" class="form-control">
        @foreach (var item in ViewBag.Category_List)
        {
            if (@item.Text == Model.TblCategory.CategoryName)
            {
                <option value="@item.Value" selected>@item.Text</option>
            }
            else
            {
                <option value="@item.Value">@item.Text</option>
            }

        }
    </select>
    <br />
    <br />
    <button class="btn btn-warning">Projeyi Güncelle</button>
</form>
